/* Fonts */

* {
  color: rgb(87, 87, 87);
  box-sizing: border-box;
}
h1 {
  padding-left: 10px;
}

h2 {
  padding-left: 10px;
}

h3 {
  font-size: 12px;
  padding-left: 10px;
}

p {
  font-size: 8px;
  padding-left: 10px;
}

/* Keyframes  */

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(8deg);
  }

  75% {
    transform: rotate(-8deg);
  }
}

/* First Grid  */

.container {
  display: grid;
  grid-template-columns: minmax(50px, 1fr) 4fr;
  grid-template-rows: 45px;
  grid-auto-rows: minmax(150px, auto);
  width: 100%;
}

header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: #6539a4;
  text-align: center;
}

nav {
  grid-column: 1 / 2;
  background-color: #361f58;
  text-align: center;
}

/* Second Grid */

main {
  display: block;
  text-align: center;
  width: 100%;

}

main > * {
  margin: 0 auto;
}

main:after {
  content: "";
  display: table;
  clear: both;
}


.top {
  grid-column: 1 / -1;
}

.traffic {
  max-width: 250px;
  grid-column: 1 / -1;
}

.daily-traffic {
  max-width: 80%;
  grid-column: 1 / 2;
}


.mobile-users {
  max-width: 80%;
  grid-column: 2 / 3;
}

.social-stats {
  max-width: 80%;
  grid-column: 1 / -1;
}

.new-members {
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
}

.recent-activity {
  grid-column: 2 / 3;
}

.message-user {
  grid-column: 1 / 2;
}

.settings {
  grid-column: 2 / 3;
}

/* Header and Nav */

header h2,
header h3 {
  align-self: center;
  height: 60%;
}

header * {
  color: white;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
  height: 70%;
  text-align: center;
  margin: 0;
}


.top-right {
  display: flex;
  justify-content: center;
  flex-basis: 100px;
  padding-top: 5px;
  height: 100%;
  align-items: center;
}

.avatar {
  margin-left: 10px;
  margin-right: 30px;
  vertical-align: baseline;
  border-radius: 50%;
  height: 80%;
}

.name {
  margin-left: 10px;
  padding-left: 10px;
  margin-right: 10px;
  align-self: center;
  height: 80%;
  white-space: nowrap;
  display: none;
  }



.bell {
  align-self: center;
  transform-origin: center;
  border-right: 1px solid #522e84;
  margin-right: 10px;
  padding-right: 10px;
}

.bell:hover {
  animation: shake 0.4s forwards;
}

.icon-dashboard {
  background-color: #6338a1;

  border-radius: 10px;
}

.icon {
  width: 75%;
  padding: 8px 9px;
  margin-top: 25px;
}

/* Main Grid row 1 */

.alert,
.alert-2,
.alert-3 {
  background-color: #361f58;
  width: 90%;
  margin-left: 10px;
  margin-bottom: 10px;
  height: 30px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.alert p,
.alert-2 p,
.alert-3 p {
  color: white;
  font-size: 0.9em;
}

.alert button
.alert-2 button,
.alert-3 button {
  font-size: 0.9em;
}

.remove,
.remove-2,
.remove-3 {
  border: none;
  display: inline-block;
  background-color: inherit;
  color: white;
  align-self: flex-start;
  padding-right: 10px;
  height: auto;
}

#searchbar {
  margin-right: 20px;
  height: 18px;
  font-size: 14px;
  width: 30%;
  padding-left: 10px;
  border-radius: 10px;
}

.dash-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Main Grid row 2 & 3 */

.traffic {
  height: 300px;
  margin-left: 10px;
  margin-right: 10px;
}

.traffic-title {
  display: flex;
  justify-content: space-between;
}

.traffic-title h3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.traffic-time {
  border: none;
  border-radius: 10px;
  background-color: white;
  padding: 3px 7px;
}

.traffic-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.traffic-buttons {
  font-size: 13px;
}

.green-background {
  background-color: green;
  color: white;
}

.wrapper-1,
.wrapper-2,
.wrapper-3,
.wrapper-4 {
  height: 250px;
}

.wrapper-2,
.wrapper-3,
.wrapper-4 {
  display: none;
}

.daily-traffic {
  margin-top: 30px;
}

.mobile-users {
  margin-top: 30px;
}

/* Main grid social stats row */

.social-stats h3 {
  grid-column: 1 / -1;
}

.social-box {
  display: block;
  /* display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  flex-shrink: 200px;
  flex-grow: 1;
  flex-basis: 30%; */
  height: 100%;
  border: solid 1px grey;
  padding: 10px;
  margin: 10px;
  width: 90%;
}

.social-box svg {
  display: inline-block;
  float: left;
  height: 80px;
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  margin: 0 auto;
  border: 0px solid;
  border-radius: 50%;
  width: 80px;
  padding: 15px;
  background-color: #6539a4;
}

.social-box h3 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  font-size: 20px;
  color: #6539a4;
  font-weight: bold;
  margin: 0;
}

.social-box p {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  font-size: 35px;
  margin: 0;
}

.social-stats {
  /* display: grid; */
  grid-template-rows: 20px 100px;
  /* align-content: center; */
  text-align: center;
}

.social-boxes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-basis: 1;
}

/* New members */

.member img {
  height: 40px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}

.member {
  border-bottom: 1px grey solid;
  margin: 0 15px;
  padding: 10px 0;
}

.member h3 {
  margin: 0;
  text-align: left;
}

.member p {
  display: inline-block;
  color: #6539a4;
}

.member h4 {
  font-size: 8px;
  float: right;
}


/* Message user */

.autocomplete {
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid grey;
}

input:focus{
  border-radius: 10px;
}

.message-user {
  margin-top: 12px;
  margin-bottom: 12px;
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.easy-autocomplete {
  width: 100% !important;
}

.easy-autocomplete-container {
  left: 5%;
  width: 90%;
}

.message-user h3 {
  padding-left: 0;
}

#user-search {
  margin-top: 10px;
  width: 90%;
  border-radius: 5px;
  height: 25px;
  /* padding: 0; */
}

#user-message {
  margin-top: 10px;
  width: 90%;
  height: 100px;
  border-radius: 5px;
  padding-left: 12px;
}

#user-send {
  margin-top: 10px;
  width: 90%;
  border-radius: 5px;
  border: none;
  background-color: #6539a4;
  color: white;
  height: 30px;
}

/* Settings */

.settings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.settings h3 {
  padding-left: 0;
  text-align: center;
}

.settings p {
  font-size: 14px;
  text-align: center;
}

.switch {
  display: flex;
  justify-content: space-between;
  /* width: 50%; */
  width: 90%;
  margin: 0 auto;
}

.onoffswitch {
  padding-left: 10px;
  margin-top: 12px;
  margin-bottom: 14px;
}

.settings button {
  margin-top: 20px;
  width: 40%;
  display: inline-block;
  border-radius: 5px;
  border: none;
  background-color: #6539a4;
  color: white;
  height: 30px;
  align-self: flex-end;
}

#cancel {
  background-color: grey;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.settings,
.message-user {
  margin-bottom: 25px;
}

.settings select {
  width: 90%;
  margin: 10px auto;
  border-radius: 10px;
}

/* On off switch */

.onoffswitch {
    position: relative;
    width: 60px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;
}
.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 20px;
    padding: 0;
    line-height: 20px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #34A7C1;
    color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE;
    color: #999999;
    text-align: right;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

@media only screen and (min-width: 768px) {
  main {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    display: grid;
    grid-row-gap: 10px;
    grid-template-columns: repeat(auto-fit, 50%);
    grid-template-rows: auto;
    text-align: inherit;
  }

  main > * {
    margin: inherit;
  }
  .container {
    grid-template-columns: 2fr 10fr 10fr;
  }
  .social-box {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    flex-grow: 1;
    flex-basis: 30%;
  }

  .traffic-buttons {
    flex-direction: row;
  }

  .member h3 {
    width: 85%;
  }

  .traffic {
    max-width: 100% ;
  }

  .daily-traffic {
    max-width: 100%;
  }


  .mobile-users {
    max-width: 100%;
  }

  .social-stats {
    max-width: 100%;
  }
  .name {
    margin-right: 40px;
    display: block;
  }

  .avatar {
    margin-right: 10px;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    grid-template-columns: 1fr 10fr 10fr;
  }
}
