/* Fonts */

* {
  color: rgb(87, 87, 87);
  box-sizing: border-box;
}
h1 {
  padding-left: 10px;
}

h2 {
  padding-left: 10px;
}

h3 {
  font-size: 12px;
  padding-left: 10px;
}

p {
  font-size: 8px;
  padding-left: 10px;
}

/* Keyframes  */

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(8deg);
  }

  75% {
    transform: rotate(-8deg);
  }
}

/* Grid  */

.container {
  display: grid;
  grid-template-columns: 1fr 10fr 10fr;
  grid-template-rows: 45px;
  grid-auto-rows: minmax(150px, auto); }

header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: #6539a4;
  text-align: center;
}

nav {
  grid-column: 1 / 2;
  background-color: #361f58;
  text-align: center;
}

main {
  grid-column: 2 / -1;
  grid-row: 2 / -1;
  display: grid;
  grid-row-gap: 10px;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  border: grey 1px solid;
}

.top {
  grid-column: 1 / -1;
}

.traffic {
  grid-column: 1 / -1;
}

.daily-traffic {
  grid-column: 1 / 2;
}


.mobile-users {
  grid-column: 2 / 3;
}

.social-stats {
  grid-column: 1 / -1;
}

/* Other Stuff */

header h2,
header h3 {
  align-self: center;
  height: 60%;
}

header * {
  color: white;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
  height: 70%;
  text-align: center;
  margin: 0;
}

canvas {
  height: 100px;
}

.top-right {
  display: flex;
  /* flex-direction: column;
  flex-wrap: wrap; */
  justify-content: center;
  flex-basis: 100px;
  padding-top: 5px;
  height: 100%;
}

.name {
  border-left: 1px solid #522e84;
  margin-left: 10px;
  padding-left: 10px;
  margin-right: 40px;
  align-self: center;
  height: 80%;

  }



.bell {
  align-self: center;
  transform-origin: center;
}

.bell:hover {
  animation: shake 0.4s forwards;
}

.icon {
  width: 60%;
  padding-top: 10px;
  align-self: center;
}

.alert {
  background-color: #361f58;
  width: 90%;
  margin-left: 10px;
  height: 30px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alert p {
  color: white;
  font-size: 0.9em;
}

.alert button {
  font-size: 0.9em;
}

.traffic {
  height: 300px;
  margin-left: 10px;
  margin-right: 10px;
}

.wrapper {
  height: 250px;
}

.social-stats h3 {
  display: block;
  width: 100%;
  margin-top: 50px;
  height: 10px;
}

.social-box {
  display: inline-block;
  width: 30%;
  height: 100px;
  border: solid 1px grey;
  padding: 10px;
  margin: 10px;
}

.social-box svg {
  float: left;
  height: 100px;
}

.social-stats {
  display: flex;
  justify-content: space-around;
}




.icon-dashboard {
  background-color: #6338a1;

  border-radius: 10px;
}

.icon {
  width: 75%;
  padding: 8px 9px;
  margin-top: 25px;
}

.remove {
  border: none;
  background-color: inherit;
  color: white;
  align-self: flex-start;
  padding-right: 10px;
  height: auto;
}

#searchbar {
  margin-right: 20px;
  height: 18px;
  font-size: 14px;
  width: 30%;
}

.dash-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
