// Fonts

$primary-font: "Helvetica Neue", sans-serif;

// Breakpoints

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;


// Colors

$primary-color: grey;
$secondary-color: white;
$primary-background: rgb(24, 114, 198);
